- if @password_reset_code_present
  %h3
    Reset your password for 
    = @user.email
- else
  %h3
    Create a password for 
    = @user.email
#section-guidance
  If you've already created a password for hopetoaction.org please reuse that password here
  %br/
  %br/
- form_tag url_for(:action => "reset_password") do
  Password: 
  %br/
  = password_field_tag :password 
  %br/
  Confirm Password: 
  %br/
  = password_field_tag :password_confirmation 
  %br/
  - if @password_reset_code_present
    = submit_tag "Reset Your Password"
  - else
    = submit_tag "Set Your Password"
