#national-container
  #national-intro
    = link_to(theme_image_tag('Plan_Bar.gif', {:width => "200", :height => "73", :style => "display: block; margin-left: 100px; margin-right: auto;"}), 'http://hopetoaction.org/ecosalon')
    .national-intro-count
      /
        There are <%= pluralize @calendar.events.length, @calendar.name %> in <%= @calendar.events.unique_states %> states.
    .national-intro-directions
      %br/
      - if @calendar.map_intro_text
        = @calendar.map_intro_text
      - else
        Click on a state or enter your zip code to find 
        = @calendar.name.pluralize 
        near you...
      %br/
      %br/
  #national-map-container
    #national-map-search
      %table{ :cellpadding => "8" }
        %tr
          %td{ :valign => "top" }
            %b
              Search by:
          %td
            - form_tag :permalink => @calendar.permalink, :controller => 'events', :action => 'search' do
              Zip Code: 
              = text_field_tag('zip', nil, :size => 10)
              = submit_tag "GO"
              %br/
              %b OR
              State:
              = select_tag 'state', us_state_options_for_select( '', {:show => :abbreviations, :include_blank => true}), :onchange => "window.location.href='/#{@calendar.permalink}/events/search/state/' + this.value"
    = render :partial => "/calendars/flashmap" 
  #national-footer
